//
// Bootstrap "B" Booticon
//

.bd-booticon {
  display: block;
  // width: 34rem;
  // height: 9rem;
  font-size: 6.5rem;
  // line-height: 9rem;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: $bd-purple;
  // border-radius: 1rem;

  &.inverse {
    color: $bd-purple;
    background-color: #fff;
  }
  &.outline {
    background-color: transparent;
    // border: 1px solid $bd-purple-light;
  }
}
